/* CSS GENÉRICO */
.showNavbar {
    left: 0 !important;
    opacity: 0.95 !important;
}


/****************** HEADER ******************/
header {
    background-color: #1E1C21;
}

.container-grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    /* background-color: #bb8787; */
}



header .header-flex {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    width: 280px;
}

/* navbar */
header .menu {
    width: 60%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */
}

/* links */
header .menu .item-menu {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
}

.hamburger-icon {
    display: none;
}

/* Tablets */
@media screen and (max-width: 991px) {

    header .menu {
        position: fixed;
        /* Referencial Viewport */
        top: 0;
        /*top/bottom */
        left: -80%;
        /*left/right */
        z-index: 10;
        /*controle de camada */

        /* flex */
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 100%;
        background-color: #1E1C21;
        opacity: 0;

        transition: left 0.4s, opacity 0.5s;
    }

    header .menu a {
        border-left: 3px dotted white;
        width: 80%;
        margin-bottom: 20px;
        font-size: 1.4rem;
        padding: 20px;
    }

    header .hamburger-icon {
        width: 40px;
    }

    .hamburger-icon {
        display: block;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    header .logotipo {
        width: 240px;
    }

    header .hamburger-icon {
        width: 35px;
    }

    header .menu a {
        border-left: 2px dotted white;
        margin-bottom: 15px;
        font-size: 1rem;
        padding: 10px;
    }
}