<header>
    <!-- flex container bootstrap + flexbox-->
    <div class="container header-flex">
        <img class="logotipo" src="/assets/images/logo.svg" alt="texto alternativo" title="Site E-player">

        <!-- flex container -->
        <nav class="menu" id="menu">
            <a class="item-menu" routerLink="">Início</a>
            <a routerLink="/login" class="item-menu">Login</a>
            <a href="#" class="item-menu">Horários</a>
            <a href="#" class="item-menu">Campeonato</a>
            <a href="#" class="item-menu">Resultados</a>
            <a href="#" class="item-menu">Notícias</a>
        </nav>

        <img class="hamburger-icon" onclick="exibeMenu()" src="/assets/images/bars.svg" alt="">

    </div>

</header>